name: Update Snake Animation

on:
  schedule:
    # Runs every day at 00:00 UTC
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Generate GitHub Contribution Snake
        uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: CodewithJha
          gif_out_path: ./output/github-contribution-grid-snake.gif
          svg_out_path: ./output/github-contribution-grid-snake.svg
          
      - name: Push to GitHub
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: main
          build_dir: .
          commit_message: Update snake animation [skip ci]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
