name: Update Snake Animation

on:
  schedule:
    # Runs every day at 00:00 UTC
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Generate GitHub Contribution Snake
        uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: CodewithJha
          gif_out_path: ./output/github-contribution-grid-snake.gif
          svg_out_path: ./output/github-contribution-grid-snake.svg
          github_token: ${{ secrets.GITHUB_TOKEN }}
          color_snake: '#00c647'
          color_dots: '0:1:2:3:4'

      - name: Commit and push snake to main branch
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git config --local core.autocrlf false
          git add output/
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "Update snake animation [skip ci]"
            git push origin HEAD:main
          fi
